.App {
  display: block;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #6328e0;
  font-weight: 700;
}

a:hover {
  color: #6328e0;
  font-weight: 700;
  text-decoration: underline;
}

/* antd message styling */
.ant-message-notice-content {
  border-radius: 2px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border: 1px solid #f3f3f3 !important;
}
